@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div id="shipments-container">
    <!-- Le spedizioni verranno inserite qui -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch('/API/shipment')
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('shipments-container');
                data.forEach(shipment => {
                    const shipmentDiv = document.createElement('div');
                    shipmentDiv.innerHTML = `
                            <p>ID: ${shipment.shipmentId}</p>
                            <p>Customer ID: ${shipment.customerId}</p>
                            <p>Date: ${shipment.shipmentDate}</p>
                            <p>Destination City: ${shipment.shipmentDestinationCity}</p>
                            <p>Number: ${shipment.shipmentNumber}</p>
                            <p>Weight: ${shipment.shipmentWeight}</p>
                            <p>Price: ${shipment.shipmentPrice}</p>
                            <p>Date Expected: ${shipment.shipmentDateExpected}</p>
                        `;
                    container.appendChild(shipmentDiv);
                });
            })
            .catch(error => {
                console.error('Errore:', error);
            });
    });
</script>
